body{
	margin: 0;
}
header{}
.container{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    flex-basis: 20%;
    max-width: 20%;
    /* background: white; */
}
.logo img{

}
nav{
    flex-basis: 80%;
   
}
nav ul{display: flex;margin: 0;padding: 0;justify-content: flex-end;}
nav ul li{
    list-style-type: none;
    /* list-style: none; */
    text-decoration: none;
}
nav ul li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    display: block;
    /* justify-content: flex-end; */
}










.banner{
	
	padding: 130px 15%;
	background-color: black;
}
.contant-box{background-color: #2722038c;
	color: white;
	padding: 30px 50px;}
img{
	max-width: 100%;
}
h1{
	text-align: center;

}
p{
	font-family: serif;
	padding: 17px;
	font-size: 20px;
	line-height: 1.6;
	text-align: justify;
}
.bg-image1{background-image: url("../images/portfolio-item57.jpg");
 background-attachment: fixed;}
.bg-image2{background-image: url("../images/portfolio-item58.jpg");
background-attachment: fixed;}
.bg-image3{background-image: url("../images/portfolio-item59.jpg");
background-attachment: fixed;}
.bg-image4{background-image: url("../images/portfolio-item60.jpg");
background-attachment: fixed;}
.bg-image5{background-image: url("../images/portfolio-item61.jpg");
background-attachment: fixed;}
.bg-image6{background-image: url("../images/portfolio-item62.jpg");
background-attachment: fixed;}